/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * input-sans:
 *   - http://typekit.com/eulas/00000000000000007735b0c8
 *   - http://typekit.com/eulas/00000000000000007735b0d5
 *   - http://typekit.com/eulas/00000000000000007735b0d9
 *   - http://typekit.com/eulas/00000000000000007735b0de
 *   - http://typekit.com/eulas/00000000000000007735b0ef
 *   - http://typekit.com/eulas/00000000000000007735b0f3
 *
 * © 2009-2023 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2023-04-04 16:09:11 UTC"}*/

@import url("p.css");

@font-face {
font-family:"input-sans";
src:url("../l_2") format("woff2"),url("../d") format("woff"),url("../a_3") format("opentype");
font-display:swap;font-style:normal;font-weight:100;font-stretch:normal;
}

@font-face {
font-family:"input-sans";
src:url("../l_1") format("woff2"),url("../d_2") format("woff"),url("../a_1") format("opentype");
font-display:swap;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"input-sans";
src:url("../l_5") format("woff2"),url("../d_4") format("woff"),url("../a") format("opentype");
font-display:swap;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"input-sans";
src:url("../l") format("woff2"),url("../d_3") format("woff"),url("../a_2") format("opentype");
font-display:swap;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"input-sans";
src:url("../l_3") format("woff2"),url("../d_1") format("woff"),url("../a_4") format("opentype");
font-display:swap;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"input-sans";
src:url("../l_4") format("woff2"),url("../d_5") format("woff"),url("../a_5") format("opentype");
font-display:swap;font-style:italic;font-weight:700;font-stretch:normal;
}

.tk-input-sans { font-family: "input-sans",sans-serif; }
